

name: Build ImortalWrt

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh-before-build:
        description: 'SSH connection to Actions before buld'
        required: false
        default: 'false'
      ssh-after-build:
        description: 'SSH connection to Actions after build'
        required: false
        default: 'false'
      make-detail-log:
        description: 'Detail make log'
        required: false
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:  
    - name: Checkout
      uses: actions/checkout@main
      with:
        filter: blob:none

    - name: Create more disk space
      run: |-
        # https://github.com/actions/runner-images/issues/2840#issuecomment-2272410832
        # Remove software and language runtimes we're not using
        sudo rm -rf \
          "$AGENT_TOOLSDIRECTORY" \
          /opt/google/chrome \
          /opt/microsoft/msedge \
          /opt/microsoft/powershell \
          /opt/pipx \
          /usr/lib/mono \
          /usr/local/julia* \
          /usr/local/lib/android \
          /usr/local/lib/node_modules \
          /usr/local/share/chromium \
          /usr/local/share/powershell \
          /usr/share/dotnet \
          /usr/share/swift
        df -h /

    - name: Space cleanup and Initialization environment
      continue-on-error: true
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo -E rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d /usr/local/lib/android
        sudo -E timedatectl set-timezone "Asia/Shanghai"
        docker rmi `docker images -q`

    - name: Install Dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
         # add repo for xsltproc
         sudo apt-add-repository -y http://archive.ubuntu.com/ubuntu/
         sudo bash -c 'bash <(curl -s https://build-scripts.immortalwrt.org/init_build_environment.sh)'
         sudo apt install -y xsltproc
    
    - name: Update feeds and config
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        make defconfig

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{ inputs.ssh-before-build == 'true' }}
      with:
        limit-access-to-actor: false

    - name: Make with detail log
      if: ${{ inputs.make-detail-log == 'true' }}
      run: make -j1 V=sc

    - name: Make simple
      if: ${{ inputs.make-detail-log == 'false' }}
      run: make -j$(nproc)

    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{ inputs.ssh-after-build == 'true' }}
      with:
        limit-access-to-actor: false

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        path: ./bin

